@import url("https://rsms.me/inter/inter-ui.css");
/****RESET STYLE******/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/****body styles ****/

body {
  margin: 1rem;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: "Inter UI", sans-serif;
  background-color: #f6f6e9;
  color: #194769;
}

/******HEADER SECTION*******/

.header__title {
	font-size: 4em;
	letter-spacing: 0.15em;

}

.header__list {
  display: none;
  background-color: #194769;
  list-style-type: none;
  padding: 20px 10px;
}
.header__list {
  list-style-type: none;
}
.header__list a {
	text-decoration: none;
	letter-spacing: 0.13em;
	color:#F6F6E9;
    font-size: 2em;
/*    font-weight: normal;
*/}
.header__list li {
	padding: 10px;
}
.header__hamburger input[type="checkbox"]:checked ~ .header__list {
  display: block;
}
input[type="checkbox"] {
  display: none;
}
input[type=checkbox] + label { 
  content: url(assets/menu.svg);
  height: 50px;
}
input[type=checkbox]:checked + label {
  content: url(assets/x.svg);
  height: 50px;
}
.fixed__nav span a {
  content: url(assets/arrow-up-circle.svg);
  height: 50px;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

@media screen and (min-width: 600px) {


	.header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.header__list {
		display: flex;
		justify-content: space-around;
		background-color: #F6F6E9;
		margin: 0;
	}
	.header__list li {
		display: inline;
	}
	.header__list a {
		color: #194769;
	}
	input[type=checkbox] + label { 
	  display:none;
	}


}



/******ABOUT SECTION*******/
.about {
}

/******TEAM SECTION*******/
.team {
  border: 1px solid black;
}

/******CARDS*******/

.card {
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.card > * {
  padding: 20px;

  width: 100%;
}

.card__header {
  display: flex;
  flex-direction: column;
}

.card__social-media {
}

/******ABOUT SECTION*******/

.about {
}

/******TEAM SECTION*******/

.contact__form {
}

.team {
}

/*****CONTACT SECTION********/

.contact {
}

input,
textarea {
  background-color: #d7eef2;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;

  padding: 1rem;
  width: 100%;
  margin: 0.4rem 0 0.8rem;
}

:focus {
}

::placeholder {
  font-family: "Inter UI", sans-serif;
  font-size: 0.8rem;
  color: rgba(25, 71, 105, 0.5);
}

.form__label {
  font-weight: 700;
  font-size: 0.9rem;
}

.form__button {
  background-color: #194769;
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  font-family: "Inter UI", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #d7eef2;
}

/******FOOTER SECTION*******/

.footer {
}

/**********GENERAL***********/
.section__title {
  font-weight: 900;
  font-size: 2.1rem;
}

.section__title:before {
  content: "";
  width: 3.5rem;
  height: 0.35rem;
  margin-bottom: -0.2rem;
  background-color: #f2855e;
  display: block;
}

.section__text {
}

.is-hidden {
  display: none;
}

a {
  color: #f2855e;
  font-weight: 700;
}
