@import url('https://rsms.me/inter/inter-ui.css');

/****RESET STYLE******/

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/****body styles ****/

body {
  margin: 1rem;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: 'Inter UI', sans-serif;
  background-color: #F6F6E9;
  color:#194769;
}

/******HEADER SECTION*******/
.header {
}
.header__title {
  font-weight: 900;
  letter-spacing: .05rem;
}
/******ABOUT SECTION*******/
.about {
}

/******TEAM SECTION*******/
.team {
	border: 1px solid black;
}

/******CARDS*******/

.card {
	border: 1px solid blue;
	width: 100vw;

	display: flex;
	flex-direction: column;

	align-items: center;
}

.card > * {
	border: 1px solid red;
	padding: 20px;

	width: 100%;
}

.card__header {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.card__name {
  
}

.card__body {

}

.card__blurb {

}

.card__role {

}

.card__avatar {
  
}

.card__social-media {

}

.card__footer {

}

.card > * {
	border: 1px solid red;
	padding: 20px;

	width: 100%;
}

.card__footer > ul {
	list-style-type: none;
	padding-left: 0;

	display: flex;

	justify-content: space-around;
}

.card__social-media {

}

/*****CONTACT SECTION********/
.contact {

}

.contact__form {
  border: 1px solid grey;
}

input:valid, textarea:valid {
  border: 1px solid green;
}

input:invalid {
  background-color: 2px solid grey;
}

.contact__alt {

}
/******FOOTER SECTION*******/
.footer {
}

/**********GENERAL***********/
.section__title {
  font-weight: 900;
  font-size: 2.1rem;
}

.section__title:before {
  content: '';
  width: 3.5rem;
  height: .35rem;
  margin-bottom: -.2rem;
  background-color: #F2855E;
  display: block;
}

.section__text {

}

.is-hidden {
  display: none;
}
